@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@0,400;1,200&family=Shadows+Into+Light&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pathway Extreme", sans-serif;
}

body {
  background-image: url(/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #262a62;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 90vh; /* el día 19.5; despues de haber hecho 2 footers, 200 configuraciones distintas. Esto nos solucionó la vida. Por favor, queremos una clase exclusive de VH y Min Height para footers. Todos Amamos el VH*/
}
#news-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem; /* Distancia entre el selector y las noticias*/
}

.article {
  /* El color y forma de las cajitas donde van las noticias */
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.article h2 {
  /* El encabezado de las noticias */
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.article p {
  /* El texto, o sea, la noticia */
  font-size: 1rem;
  margin-bottom: 1rem;
}

.article a {
  /* El link a la fuente */
  font-size: 1rem;
  text-decoration: none;
  color: blue;
}

.article:hover {
  background-color: #d3d3d3;
  transform: scale(1.03); /* Qué tanto se agranda la cajita en la animación */
  transition: 0.2s ease-in-out; /* Qué tan rápido sucede la animación */
  cursor: default;
}

.article a:hover {
  /* La animación del "Leer más" */
  text-decoration: underline;
  cursor: pointer;
}

#queQueres {
  /*El encabezado*/
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  border: none;
  background-color: #f2f2f2;
  cursor: default;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#dropdown-menu {
  /* El selector  */
  position: relative;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
}

/* Esto le da forma a las boxes y acomoda el dropdown menu */

select {
  /* Esto también afecta al selector */
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  text-align-last: center;
}

/* A partir de acá HEADER */

.a_header_y_footer {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  height: 6rem;
  background-color: rgb(238, 144, 20);
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
}

.logo {
  display: flex;
  align-items: center;
  animation: breathe 2s infinite;
}

.logo img {
  height: 80px;
  margin-right: 10x;
}

.nombre_pagina {
  /*Esto afecta al texto "LA ROCKOLA"*/
  font-family: "Shadows Into Light";
  text-align: left;
  text-decoration: underline;
  font-size: 1.6rem;
  margin-left: -1rem;
  font-weight: 1000;
}

.nav_header a {
  display: flex;
  font-weight: 600;
  padding-right: 0.3rem;
  align-items: center;
  text-shadow: 2px 2px rgb(153, 50, 221);
}

.nav_header a:hover {
  color: white;
  transform: scale(1.1);
}

.iconos_nav {
  color: rgb(37, 37, 37);
  text-decoration: none;
}

.nav_news {
  /* Modificar esta linea para elegir el html opciones: .nav_home .nav_news .nav_ranks  .nav_faqs*/
  color: rgb(22, 223, 99);
  text-shadow: 2px 2px 2px yellow;
}

#contenido_home {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

#h1_la_rockola {
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px grey;
}

#imagen_principal {
  height: 15rem;
}

#section_utilidad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(110, 163, 207);
  border-style: double;
  box-shadow: 4px 4px 2px 1px rgb(241, 146, 146);
}

#h3_utilidad {
  font-weight: 700;
  font-size: 1.4rem;
  font-style: italic;
  text-shadow: 1px 1px rgb(67, 93, 241);
  margin-bottom: 0.3rem;
}

#espacio_muerto {
  margin-top: 50rem;
}
/*------------------------
--------------------------
  A partir de acá FOOTER
-------------------------
------------------------*/

footer {
  display: flex;
  background-color: black;
  flex-direction: column;
  flex: 1;
  position: relative;
  bottom: 0;
  width: 100%;
}

#section_row_footer {
  display: flex;
  background-color: red;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#section_footer_navega,
#section_footer_contacto,
#section_footer_redes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: red;
  order: 1;
  margin: 0.3rem;
  padding: 0.5rem;
  padding-bottom: 0;
  padding-top: 0;
}

#section_footer_contacto {
  background-color: red;
}

#section_footer_redes {
  background-color: red;
}

#section_footer_copyright {
  display: flex;
  flex-direction: column;
  background-color: red;
  order: 2;
}

#section_footer_copyright p {
  display: flex;
  text-align: center;
}

@media screen and (min-width: 790px) {
  /*footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  */
  #section_footer_navega,
  #section_footer_contacto,
  #section_footer_redes {
    width: 25%;
    display: flex;
  }
}

@media screen and (min-width: 1635px) {
  /*footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  } */
  #section_footer_navega,
  #section_footer_contacto,
  #section_footer_redes {
    width: 30%;
    display: flex;
  }
}

@keyframes breathe {
  /* ANIMACION LOGO */
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 680px) {
  .nav_header {
    display: flex;
    margin: 1rem;
  }
  .nav_header a {
    margin: 0.3rem;
  }
  .nav_header a:hover {
    color: white;
    transform: scale(1.2);
  }
}

@media screen and (min-width: 1080px) {
  .nombre_pagina {
    font-size: 1.8rem;
  }
  .nav_header {
    display: flex;
    margin: 2rem;
  }
  .nav_header a {
    margin: 0.8rem;
    padding: 1rem;
    font-size: 1.2rem;
  }
  .nav_header a:hover {
    color: white;
    transform: scale(1.4);
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  /* El tamaño de las cajas y selector etc para mobile */
  #news-articles {
    flex-direction: column;
    align-items: center;
  }

  .article {
    flex: 1 1 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* El tamaño de las cajas y selector etc para tablet */
  .article {
    flex: 0 1 45%;
  }
}

@media screen and (min-width: 1024px) {
  /* El tamaño de las cajas y selector etc para desktop */
  #news-articles {
    flex-direction: row;
  }

  .article {
    flex: 0 1 calc(33.33% - 2rem);
  }
}

@media screen and (min-width: 768px) {
  select {
    width: auto;
  }
}
